/* Начало стилей для класса .teacher-info */
.teacher-info {
    width: 1200px;
    display: flex; /* Используйте Flexbox для разметки */
    align-items: flex-start; /* Выравнивание элементов по верхнему краю */
    margin: 100px 150px; /* Отступ сверху 100 пикселей и слева 150 пикселей */
    border: 2px solid black; /* Устанавливаем рамку */
    padding: 10px; /* Отступы внутри элемента */
}

/* Стили для класса .photo */
.photo {
    display: flex; /* Для удобства выравнивания изображения */
    justify-content: center; /* Центрирование содержимого */
    align-items: center; /* Центрирование по вертикали */
    width: 200px; /* Ширина области фотографии */
    height: 200px; /* Высота области фотографии */
    background-color: #f8f6f6eb; /* Фоновый цвет области фотографии */
    margin-right: 20px; /* Отступ справа от фотографии */
}

/* Стили для класса .details */
.details {
    display: flex;
    flex-direction: column; /* Отображать элементы в столбец */
    line-height: 20px; /* Расстояние между строками */
}

    /* Стили для заголовка внутри класса .details */
    .details h2 {
        font-size: 24px; /* Размер шрифта для заголовка */
        font-weight: bold; /* Жирное начертание */
        margin: 0; /* Убираем отступы */
    }

    /* Стили для параграфа внутри класса .details */
    .details p {
        font-size: 16px; /* Размер шрифта для параграфа */
        font-weight: normal; /* Обычное начертание */
        margin: 0; /* Убираем отступы */
    }
