.block-content {
    width: 90%; /* Ширина блока в процентах для адаптивности */
    max-width: 1174px; /* Максимальная ширина */
    height: auto; /* Автоматическая высота для адаптации к содержимому */
    background-color: #f0f0f0; /* Цвет фона блока */
    border: 1px solid #ccc; /* Обводка блока */
    margin: 20px auto; /* Внешние отступы блока (центрируем с помощью auto) */
    padding: 15px; /* Внутренние отступы блока */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Тень блока */
    border-radius: 5px; /* Закругленные углы блока */
    text-align: left; /* Выравнивание текста внутри блока по левому краю */
    line-height: 1.5; /* Высота строки внутри блока */
}
