/* Стили для всех кнопок */
.dropbtn {
    background-color: #ffffff; /* Устанавливаем белый фон */
    color: rgb(0, 0, 0); /* Устанавливаем черный цвет текста */
    padding-left: 12px; /* Задаем отступы внутри кнопки */
    padding-right: 12px; /* Задаем отступы внутри кнопки */
    padding-top: 10px; /* Задаем отступы внутри кнопки */
    padding-bottom: 10px; /* Задаем отступы внутри кнопки */
    font-size: 40px; /* Устанавливаем размер шрифта */
    border: none; /* Убираем границу у кнопки */
    cursor: pointer; /* Задаем курсор при наведении на кнопку */
    text-decoration: none; /* Убираем подчеркивание у текста кнопки */
    font-weight: normal; /* Устанавливаем нормальную жирность шрифта */
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #000000e8; /* Изменяем фон кнопки при наведении или фокусировке */
    color: white;
}

/* Стили для контейнера выпадающего меню */
.dropdown {
    position: relative; /* Устанавливаем относительное позиционирование */
    display: inline-block; /* Отображаем как блочный элемент */
    text-decoration: none; /* Убираем подчеркивание */
    font-weight: normal; /* Явно указываем нормальную жирность шрифта */
}

/* Стили для самого содержимого выпадающего меню */
.dropdown-content {
    display: none; /* Скрываем содержимое меню по умолчанию */
    position: absolute; /* Абсолютное позиционирование */
    background-color: #f1f1f1; /* Устанавливаем цвет фона */
    min-width: auto; /* Устанавливаем минимальную ширину */
    overflow: auto; /* Добавляем прокрутку при необходимости */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Добавляем тень */
    font-size: 40px; /* Устанавливаем размер шрифта */
    z-index: 1; /* Устанавливаем z-index */
}

/* Стили для ссылок внутри содержимого выпадающего меню */
.dropdown-content a {
    color: black; /* Устанавливаем цвет текста */
    padding: 12px 16px; /* Задаем отступы внутри ссылок */
    text-decoration: none; /* Убираем подчеркивание */
    display: block; /* Отображаем ссылки как блочные элементы */
    font-weight: normal; /* Явно указываем нормальную жирность шрифта */
}

/* Эффект при наведении на ссылки внутри содержимого выпадающего меню */
.dropdown-content a:hover {
    background-color: #000000e8; /* Изменяем фон при наведении на ссылку */
    color: white;
}

/* Класс для отображения содержимого выпадающего меню */
.show {
    display: block; /* Отображаем элемент */
}
.active {
    text-decoration: underline;
}