.container {
    position: relative; /* Относительное позиционирование для контейнера */
}

.line {
    position: fixed; /* Фиксированное позиционирование для линии */
    top: 0; /* Расположение линии вверху */
    left: 80px; /* Отступ слева 80px */
    width: 2px; /* Ширина 2px */
    height: 100%; /* Высота 100% */
    background-color: black; /* Черный цвет фона */
}







